.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.893555;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.910156;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.677246;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.m1{transform:none;-ms-transform:none;-webkit-transform:none;}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._0{width:49.920000px;}
.fc1{color:rgb(0,0,255);}
.fc0{color:rgb(0,0,0);}
.fs2{font-size:32.000000px;}
.fs1{font-size:48.000000px;}
.fs0{font-size:140.000000px;}
.y17{bottom:9.345996px;}
.y18{bottom:12.981996px;}
.yd{bottom:18.751002px;}
.y16{bottom:23.145004px;}
.yc{bottom:32.550002px;}
.y1e{bottom:36.943993px;}
.y15{bottom:36.944003px;}
.y7{bottom:38.101001px;}
.y28{bottom:40.166003px;}
.yb{bottom:46.349002px;}
.y1d{bottom:50.742991px;}
.y6{bottom:51.900001px;}
.y27{bottom:54.826007px;}
.ya{bottom:60.148002px;}
.y14{bottom:64.542003px;}
.y5{bottom:65.699000px;}
.y26{bottom:69.486003px;}
.y2{bottom:71.824001px;}
.y9{bottom:73.947001px;}
.y1c{bottom:78.340996px;}
.y13{bottom:78.341003px;}
.y4{bottom:79.498000px;}
.y1f{bottom:83.769989px;}
.y25{bottom:84.146007px;}
.y0{bottom:85.000000px;}
.y1b{bottom:92.139995px;}
.y12{bottom:92.140002px;}
.y3{bottom:93.297000px;}
.y24{bottom:98.806006px;}
.y23{bottom:113.466006px;}
.y1a{bottom:119.737994px;}
.y11{bottom:119.738002px;}
.y22{bottom:128.126006px;}
.y10{bottom:133.537003px;}
.y21{bottom:142.786006px;}
.y20{bottom:143.647006px;}
.yf{bottom:147.336001px;}
.y19{bottom:243.370010px;}
.ye{bottom:379.061005px;}
.y8{bottom:542.349998px;}
.y1{bottom:632.250000px;}
.h8{height:21.687500px;}
.h4{height:32.531250px;}
.h5{height:33.328125px;}
.h6{height:91.900002px;}
.h3{height:94.882812px;}
.h2{height:111.250000px;}
.h9{height:137.690994px;}
.ha{height:161.600006px;}
.h7{height:165.289001px;}
.h1{height:598.000000px;}
.h0{height:792.000000px;}
.w4{width:153.699997px;}
.w2{width:257.899994px;}
.w3{width:284.799988px;}
.w5{width:389.000000px;}
.w1{width:441.000000px;}
.w0{width:612.000000px;}
.x1{left:6.750000px;}
.x4{left:12.750000px;}
.x5{left:18.527000px;}
.x0{left:36.500000px;}
.x6{left:42.750000px;}
.x3{left:187.349998px;}
.x2{left:291.549995px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._0{width:66.560000pt;}
.fs2{font-size:42.666667pt;}
.fs1{font-size:64.000000pt;}
.fs0{font-size:186.666667pt;}
.y17{bottom:12.461328pt;}
.y18{bottom:17.309328pt;}
.yd{bottom:25.001336pt;}
.y16{bottom:30.860006pt;}
.yc{bottom:43.400003pt;}
.y1e{bottom:49.258657pt;}
.y15{bottom:49.258671pt;}
.y7{bottom:50.801334pt;}
.y28{bottom:53.554671pt;}
.yb{bottom:61.798669pt;}
.y1d{bottom:67.657322pt;}
.y6{bottom:69.200001pt;}
.y27{bottom:73.101343pt;}
.ya{bottom:80.197336pt;}
.y14{bottom:86.056004pt;}
.y5{bottom:87.598667pt;}
.y26{bottom:92.648004pt;}
.y2{bottom:95.765335pt;}
.y9{bottom:98.596002pt;}
.y1c{bottom:104.454661pt;}
.y13{bottom:104.454671pt;}
.y4{bottom:105.997334pt;}
.y1f{bottom:111.693319pt;}
.y25{bottom:112.194675pt;}
.y0{bottom:113.333333pt;}
.y1b{bottom:122.853326pt;}
.y12{bottom:122.853336pt;}
.y3{bottom:124.396000pt;}
.y24{bottom:131.741342pt;}
.y23{bottom:151.288008pt;}
.y1a{bottom:159.650659pt;}
.y11{bottom:159.650669pt;}
.y22{bottom:170.834675pt;}
.y10{bottom:178.049337pt;}
.y21{bottom:190.381341pt;}
.y20{bottom:191.529341pt;}
.yf{bottom:196.448002pt;}
.y19{bottom:324.493347pt;}
.ye{bottom:505.414673pt;}
.y8{bottom:723.133331pt;}
.y1{bottom:843.000000pt;}
.h8{height:28.916667pt;}
.h4{height:43.375000pt;}
.h5{height:44.437500pt;}
.h6{height:122.533335pt;}
.h3{height:126.510417pt;}
.h2{height:148.333333pt;}
.h9{height:183.587992pt;}
.ha{height:215.466675pt;}
.h7{height:220.385335pt;}
.h1{height:797.333333pt;}
.h0{height:1056.000000pt;}
.w4{width:204.933329pt;}
.w2{width:343.866659pt;}
.w3{width:379.733317pt;}
.w5{width:518.666667pt;}
.w1{width:588.000000pt;}
.w0{width:816.000000pt;}
.x1{left:9.000000pt;}
.x4{left:17.000000pt;}
.x5{left:24.702667pt;}
.x0{left:48.666667pt;}
.x6{left:57.000000pt;}
.x3{left:249.799998pt;}
.x2{left:388.733327pt;}
}
